
*,
*::after,
*::before {
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: " ";
  display: table;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}
@media screen and (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

footer{
  text-align: center;
}

body {
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
  background-color: #fff;
  margin-top: 71px;
  padding-top: 0;
  counter-reset: captions;
  margin-left: 16px;
  margin-right: 16px;
}
@media screen and (max-width: 1200px) {
  body {
    margin-top: 51px;
  }
}

.max-width-640 {
  max-width: 640px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}



p {
  margin-top: 0;
  margin-bottom: 1rem;
}



ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}



.navbar-default {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1rem;
}

a,
h3.article-title a:hover {
  color: #0D0D0D;
  text-decoration: none;
  transition: color 0.6s ease;
}

a:hover,
a:focus {
  color: #0D0D0D;
}

img,
video {
  height: auto;
  max-width: 100%;
  display: block;
}

video {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.img-responsive {
  margin: 0 auto;
}

figcaption {
  display: block;
  margin-top: 0.75em;
  line-height: 1.25;
  font-size: 1rem;
  margin-bottom: 1.65rem;
  font-family: 'Montserrat', sans-serif;
}

figcaption.numbered:before {
  font-weight: 700;
  text-transform: uppercase;
  content: attr(data-pre) counter(captions) attr(data-post);
}

figcaption.numbered {
  counter-increment: captions;
}

figcaption h4 {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  color: #c7254e;
  background-color: #f9f2f4;
}

pre {
  margin: 0 0 1rem 0;
  background-color: rgb(248, 248, 248);
  border-color: rgb(248, 248, 248);
}

pre code {
  white-space: pre;
  overflow-x: auto;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}





.post-nav {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.post-nav-item {
  hyphens: auto;
  word-wrap: break-word;
  padding: 11px 0 12px;
  width: 100%;
}

.post-nav-item a {
  color: #2b2b2b;
  line-height: 1.7;
  text-transform: none;
}

.post-nav-item .meta-nav {
  color: #767676;
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}

.dark .post-nav-item a {
  color: #ddd;
}



@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-section {
  background-color: rgb(255, 255, 255);
  padding: 110px 0 110px 0;
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

.home-section:first-of-type {
  padding-top: 50px;
}

.home-section:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

@media screen and (max-width: 768px) {
  .home-section {
    padding: 60px 0 60px 0;
  }
  .home-section:first-of-type {
    padding-top: 40px;
  }
}

.section-heading h1 {
  margin: 0 0 10px 0;
}

.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}



#profile {
  text-align: center;
  padding: 30px 10px;
  position: relative;
}

#profile .portrait {
  background-image: url('../img/portrait.jpg');
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: cover;
}

#profile .portrait-title h2 {
  font-size: 1.75em;
  font-weight: 300;
  color: #000000;
  margin: 20px 0 10px 0;
}

#profile .portrait-title h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(0,0,0, 0.54);
  margin: 0px 0 10px 0;
}

#profile ul.network-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

#profile .network-icon li {
  margin-right: 10px;
}

#profile .network-icon li:last-of-type {
  margin-right: 0;
}

#profile .network-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 2rem;
}

ul.ul-interests li {
  font-size: 0.9rem;
}

ul.ul-edu {
  list-style: none;
}

ul.ul-edu li {
  position: relative;
  padding: 0px 15px 4px 3px;
}

ul.ul-edu li .description p {
  margin: 0;
}

ul.ul-edu li .description p.course {
  font-size: 0.9rem;
}

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}



.share-box {
  float: right;
}

ul.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.share li {
  display: inline-flex;
  margin-right: 5px;
}

ul.share li:last-of-type {
  margin-right: 0;
}

ul.share li .fa {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}

ul.share li a {
  background-color: #b5c6ce;
  display: block;
  border-radius: 50%;
  text-decoration: none !important;
  margin: 0;
}

ul.share li:hover .fa {
  transform: scale(1.4)
}

article .article-metadata {
  margin-bottom: 20px;
  line-height: 30px;
}

.article-metadata a {
  color: #888;
}

.article-metadata a:hover {
  color: #0D0D0D;
}

.middot-divider {
  padding-right: .45em;
  padding-left: .45em;
  font-size: 15px;
}

.middot-divider::after {
  content: '\00B7';
}

.article-style img,
.article-style video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.article-style td img,
.article-style td video {
  margin-top: 0;
  margin-bottom: 0;
}

.article-style figure {
  margin-top: 60px;
  margin-bottom: 60px;
}

.article-style figure img {
  margin-top: 0;
  margin-bottom: 0;
}

.article-widget {
  padding-top: 1rem;
}

.article-widget h3 {
  margin-top: 0;
}

.hr-light {
  border-top: 1px solid rgba(0,0,0,.05);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#comments {
  padding-top: 1rem;
}



 .navbar {
  min-height: 70px !important;
}

.navbar-default {
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

nav#navbar-main li {
  font-size: 16px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #34495e;
  font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #34495e;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #0D0D0D;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #0D0D0D;
  font-weight: 700;
  background-color: transparent !important;
}

.navbar-brand,
.navbar-nav li a {
  height: inherit;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #34495e !important;
}

.dropdown-menu {
  background-color: #fff !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #34495e;
  white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #0D0D0D;
  text-decoration: none;
  background-color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0D0D0D;
  outline: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:visited {
  color: #34495e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: #2b2b2b;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #2b2b2b;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .navbar {
    min-height: 50px !important;
  }

  .navbar-brand,
  .navbar-nav li a {
    height: inherit;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-brand img {
    max-height: 40px;
  }

  .navbar-header {
    float: none;
    min-height: inherit;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #34495e;
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
    line-height: 20px;
    color: #34495e;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: inherit;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #0D0D0D;
    background-color: transparent;
  }

  .collapse.in {
    display: block !important;
  }
}
